.nav-container{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.btn{
  height: 50px;
  width: 200px;
}
.hero-container{
    background-image: url(../assets/Hero-bg.png);
    display: grid;
    justify-items: center;
    padding: 30px;
}
.hero-content{
    text-align: center;
}
.hero-container button{
    background-color: rgba(13, 19, 33, 1);
    color: white;
    padding: 2px
}